test*.db
.project
.gradle
.ignore 
.settings
target
.idea
.classpath
.checkstyle
*.log
*.log.*
*.iml
*.versionsBackup
interpolated-*.xml
*.iws
*.ipr
out
*.ignore      
build
bin
thucydides-arquillian
tools
*.sublime-project
*.sublime-workspace
.hg*