build
.gradle
.idea
.claude
lib
target
*.iml
*.log
*.xml.ReleaseBackup
release.properties
out
.DS_Store
/serenity-core.ipr
/serenity-core.iws
/serenity-smoketests/todo-demo.ipr
/serenity-smoketests/todo-demo.iws
/serenity-smoketests/saucelabs.sh
/wip.todo
.okhttpcache
.settings
.project
.classpath
bin
*.versionsBackup
serenity-cli/dependency-reduced-pom.xml
.flattened-pom.xml
node_modules
package-lock.json
package.json
