<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>$testrun.Title</title>
<style type="text/css">
<!--
@import url("core.css");
-->
</style>
<link href="css/core.css" rel="stylesheet" type="text/css" />
<style type="text/css">a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
</style></head>

<body>
<div id="topheader">
  <div id="topbanner">
      <div id="menu">
      <table border="0">
      <tr>
        <td><a href="Home.html"><img src="images/menu_h.png" width="105" height="28" border="0" /></a></td>
        <td><a href="Features.html"><img src="images/menu_f.png" width="105" height="28" border="0" /></a></td>
        <td><a href="Stories.html"><img src="images/menu_s.png" width="105" height="28" border="0" /></a></td>
      </tr>
    </table>
    </div>
    <div id="logo"><a href="Home.html"><img src="images/logo.jpg" width="265" height="96" border="0" /></a></div>
  </div>
</div>

  <div class="middlecontent">
    <div id="contenttop"> 
   	  <div class="leftbg"></div>
    	<div class="middlebg">
    	  <div style="height:30px;"><span class="bluetext"><a href="Home.html" class="bluetext">Home</a></span> / <span class="bluetext"><a href="Features.html" class="bluetext">Features</a></span> / 
    	    <span class="bluetext">Gizmos</span> /
          <span class="bluetext"><a href="${testrun.story.reportName}.html" class="bluetext">${testrun.story.name}</a></span></div>
   	  </div>
    	<div class="rightbg"></div>   
    </div>
    <div class="clr"></div>

    #if ($testrun.result == "FAILURE")
        #set( $outcome_icon = "fail.png" )
        #set( $outcome_text = "failing-color" )
    #elseif ($testrun.result == "SUCCESS")
    	#set( $outcome_icon = "success.png" )
        #set( $outcome_text = "success-color" )
    #elseif ($testrun.result == "PENDING")
    	#set( $outcome_icon = "pending.png" )
        #set( $outcome_text = "pending-color" )
    #else
    	#set( $outcome_icon = "ignor.png" )
        #set( $outcome_text = "ignore-color" )
    #end

     <div id="contentbody">
   	   <div class="titlebar">
       	 <div class="leftbgm"></div>
            <div class="middlebgm">
                <table width="1005">
                    <tr>
                        <td width="25"><img class="story-outcome-icon" src="images/$outcome_icon" width="25" height="25" /></td>
                        <td width="%"><span class="test-case-title"><span class="$outcome_text">$testrun.Title</span></span></td>
                        <td width="100"><span class="test-case-duration"><span class="greentext">$testrun.duration ms</span></span></td>
                    </tr>
                </table>
            </div>
         <div class="rightbgm"></div>
   	   </div>
     </div>

     <div class="clr"></div>
     <div id="beforetable"></div>
   	<div id="contenttilttle">
  	  <div class="topb"><img src="images/topm.jpg" /></div>
  	  <div class="middlb">
<div class="table">  	    
 <div class="toptablerow">
  	      <table width="980" height="50" border="0">
  <tr>
    <td width="35">&nbsp;</td>
    <td width="%" class="greentext">Step</td>
    <td width="150" class="greentext">Screenshot</td>
    <td width="150" class="greentext">Outcome</td>
    <td width="75" class="greentext">Duration</td>
  </tr>
</table>
</div>

#foreach($step in $testrun.TestSteps)
    #if ($step.result == "FAILURE")
    	#set( $step_outcome_icon = "fail.png" )
    #elseif ($step.result == "SUCCESS")
		#set( $step_outcome_icon = "success.png" )
    #elseif ($step.result == "PENDING")
		#set( $step_outcome_icon = "pending.png" )
    #else
		#set( $step_outcome_icon = "ignor.png" )
    #end

<div class="tablerow">
<table border="0" width="980"  height="40" >
  <tr class="test-$step.result">
    <td width="35"><img src="images/$step_outcome_icon" width="25" height="25" /></td>
    <td width="%" class="bluetext"><span class="bluetext">$step.description</span></td>
    <td width="150" class="bluetext">
		#if( $step.screenshot )
	          <a href="$step.screenshot.name"><img src="images/screen.png" width="48" height="48" /></a>
        #end
    </td>
    <td width="150"><span class="lightgreentext">$step.result</span></td>
    <td width="75"><span class="lightgreentext">$step.duration ms</span></td>
  </tr>
</table>
</div>
#end

</div>
  	  </div>

  	  <div class="bottomb"><img src="images/bottomm.jpg" /></div>
  	</div>
</div>
<div id="beforefooter"></div>
<div id="bottomfooter"></div>

</body>
</html>
