name: Java CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Unit and Integration Tests
      run: mvn install

    - name: Smoke Tests
      run: cd serenity-smoketests && mvn verify